repos:
  # These settings will remove unused imports with side effects
  # Note: The repo currently does not and should not have imports with side effects
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args: [ '--remove-all-unused-imports', '--remove-unused-variables', '--in-place' , '--recursive']

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.1
    hooks:
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
      - id: ruff-format
        types_or: [ python, pyi ]

  # We would like to have a mypy pre-commit hook, but due to the fact that
  # pre-commit runs in it's own isolated environment, we would need to install
  # and keep in sync all dependencies so mypy has access to the appropriate type
  # stubs. This does not seem worth it at the moment, so for now we will stick to
  # having mypy run via Github Actions / manually by contributors
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.1.1
  #   hooks:
  #     - id: mypy
  #       exclude: ^tests/
  #       # below are needed for type stubs since pre-commit runs in it's own
  #       # isolated environment. Unfortunately, this needs to be kept in sync
  #       # with requirements/dev.txt + requirements/default.txt
  #       additional_dependencies: [
  #         alembic==1.10.4,
  #         types-beautifulsoup4==4.12.0.3,
  #         types-html5lib==1.1.11.13,
  #         types-oauthlib==3.2.0.9,
  #         types-psycopg2==2.9.21.10,
  #         types-python-dateutil==2.8.19.13,
  #         types-regex==2023.3.23.1,
  #         types-requests==2.28.11.17,
  #         types-retry==0.9.9.3,
  #         types-urllib3==1.26.25.11
  #       ]
  #       # TODO: add back once errors are addressed
  #       # args: [--strict]
